*{
    padding: 0;
    margin: 0;
    font-family: "Roboto",sans-serif;
}

.container{
    width: 980;
    margin: 0 auto;
}
header{
    height: 50px;
    background-color:gray ;
}

    body{
        justify-content: center;
        background-color: pink;
       
        min-height: 100vh;
        }
    #search-box{
        background:#fff;
        border-radius: 30px;
        
                }
    #search-box #search-text{
        border: none;
        outline: none;
        background:none;
        font-size: 15px;
        width: 0;
        padding: 0;
                            }
    #search-box:hover #search-text{
        width: 300px;
        padding: 10px 10px;
                                }
    #search-box #search-btn{
        background-color: #fff;
        border: none;
        padding: 15px;
        border-radius: 50%;
        font-size: 18px;
       
                            }
.menu{
height: 100px;
background: rgb(20, 20, 20);

}
div ul li{
    float: left;
    line-height: 35px;
    padding: 0 15px;
}
div ul li a{
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
}
ul li a:hover {
background: olive;
}
.anh{
   padding-right: 10px;
    width: 20%;
    
}
h1{
    text-align: center;
    position:static;
}

table{
    width: 50%;
    font-size: 20px;
    font-family:arial,helvetica,sans-serif;
    padding: 50px;
   text-align: left;
   padding-left:300px;
   position: fixed;
   left: 300px;

}
#gioithieu #trai ul{
    position: relative;
    margin: 0px;
    padding: 0px;
}
#gioithieu #trai ul li{
    position: relative;
    list-style: none;   

}
#gioithieu #trai ul li img{
    
    float: left;
}
h3{
    text-align: center;
    font-size: 100%;
    bottom:  100%;

}


